<div class="wrapper">
<!-- dashboard.component.html -->
<div class="stock-dashboard">
    <h2>{{ stockData.Name }} ({{ stockData.Symbol }})</h2>
    <div *ngIf="stockData">
        <div class="column">
            <!-- Basic Information -->
            <div class="column">
                <div class="title-section">Basic Information</div>
                <div class="row">
                    <div class="field">
                        <div class="title-small">Asset Type</div>
                        <div class="value-small">{{ stockData.AssetType }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Country</div>
                        <div class="value-small">{{ stockData.Country }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Exchange</div>
                        <div class="value-small">{{ stockData.Exchange }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="title-small">Sector</div>
                        <div class="value-small">{{ stockData.Sector }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Industry</div>
                        <div class="value-small">{{ stockData.Industry }}</div>
                    </div>
                </div>

            </div>
            <!-- Financial Information -->
            <div class="column" style="margin-top: 20px;">
                <div class="title-section">Financial Information</div>
                <div class="field">
                    <div class="title-small">Market Cap</div>
                    <div class="value-small">{{ stockData.MarketCapitalization }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Price to Earnings Ratio (PE)</div>
                    <div class="value-small">{{ stockData.PERatio }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Price to Sales Ratio</div>
                    <div class="value-small">{{ stockData.PriceToSalesRatioTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.DividendYield }}</div>
                </div>

                <div class="field">
                    <div class="title-small">Address</div>
                    <div class="value-small">{{ stockData.Address }}</div>
                </div>
                <div class="field">
                    <div class="title-small">AnalystTargetPrice</div>
                    <div class="value-small">{{ stockData.AnalystTargetPrice }}</div>
                </div>
                <div class="field">
                    <div class="title-small">AssetType</div>
                    <div class="value-small">{{ stockData.AssetType }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Beta</div>
                    <div class="value-small">{{ stockData.Beta }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend BookValue</div>
                    <div class="value-small">{{ stockData.BookValue }}</div>
                </div>
                <div class="field">
                    <div class="title-small">CIK</div>
                    <div class="value-small">{{ stockData.CIK }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Currency</div>
                    <div class="value-small">{{ stockData.Currency }}</div>
                </div>
                <div class="field">
                    <div class="title-small">DilutedEPSTTM</div>
                    <div class="value-small">{{ stockData.DilutedEPSTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.DividendDate }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.DividendPerShare }}</div>
                </div>
                <div class="field">
                    <div class="title-small">EBITDA</div>
                    <div class="value-small">{{ stockData.EBITDA }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.EVToEBITDA }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.EVToRevenue }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.FiscalYearEnd }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.ForwardPE }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.GrossProfitTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.LatestQuarter }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.OperatingMarginTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.PERatio }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.PriceToBookRatio }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.PriceToSalesRatioTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.ProfitMargin }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.QuarterlyEarningsGrowthYOY }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.QuarterlyRevenueGrowthYOY }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.ReturnOnAssetsTTM }}</div>
                </div>
                <div class="field">
                    <div class="title-small">Dividend Yield</div>
                    <div class="value-small">{{ stockData.DividendYield }}</div>
                </div>
            </div>
            <!-- Company Details -->
            <div class="column" style="width: 100%;">
                <div class="title-section">Company Details</div>
                <div class="title-small">Description</div>
                <div>{{ stockData.Description }}</div>
            </div>
        </div>
    </div>
  </div>
  
  
</div>
