<div class="wrapper">
<!-- dashboard.component.html -->
<div class="stock-dashboard" *ngIf="stockData">
    <h2>{{ stockData.Name }} ({{ stockData.Symbol }})</h2>
    <div class="field">
        <div class="title-small">Description</div>
        <div>{{ stockData.Description }}</div>
    </div>
    <div>
        <div class="column">
            <!-- Global Quote -->
            <div class="column" style="margin-top: 30px;">
                <div class="title-section">Quote</div>
                <div class="row">
                    <div class="field">
                        <div class="title-small">Last Trade</div>
                        <div class="value-small">{{ globalQuote['Global Quote']['07. latest trading day'] | date: 'dd.MM.yyyy' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Price</div>
                        <div class="value-small">{{ globalQuote['Global Quote']['05. price'] | number : '1.2-2' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Volume</div>
                        <div class="value-small">{{ globalQuote['Global Quote']['06. volume'] | short : '1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Change (abs)</div>
                        <div class="value-small">{{ globalQuote['Global Quote']['09. change'] | number : '1.2-2' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Change</div>
                        <div class="value-small">{{ globalQuote['Global Quote']['10. change percent'] }}</div>
                    </div>
                </div>
            </div>
            <!-- Global Quote -->
            <div class="column" style="margin-top: 30px;">
                <div class="title-section">Balance Sheet</div>
                <div class="row container">
                    <div class="field">
                        <div class="title-small">Accumulated Depreciation Amortization PPE</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].accumulatedDepreciationAmortizationPPE | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Capital Lease Obligations</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].capitalLeaseObligations| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Cash And Cash Equivalents At Carrying Value</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].cashAndCashEquivalentsAtCarryingValue| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Cash And Short Term Investments</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].cashAndShortTermInvestments| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Common Stock</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].commonStock| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Common Stock Shares Outstanding</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].commonStockSharesOutstanding| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Current Accounts Payable</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].currentAccountsPayable| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Current Debt</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].currentDebt| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">currentLongTermDebt</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].currentLongTermDebt| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">currentNetReceivables</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].currentNetReceivables| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">deferredRevenue</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].deferredRevenue| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">fiscalDateEnding</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].fiscalDateEnding| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">goodwill</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].goodwill| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">intangibleAssets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].intangibleAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">intangibleAssetsExcludingGoodwill</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].intangibleAssetsExcludingGoodwill| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">inventory</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].inventory| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">investments</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].investments| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">longTermDebt</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].longTermDebt| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">longTermDebtNoncurrent</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].longTermDebtNoncurrent| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">longTermInvestments</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].longTermInvestments| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">otherCurrentAssets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].otherCurrentAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">otherNonCurrentAssets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].otherNonCurrentAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">propertyPlantEquipment</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].propertyPlantEquipment| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">reportedCurrency</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].reportedCurrency| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">retainedEarnings</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].retainedEarnings| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">shortLongTermDebtTotal</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].shortLongTermDebtTotal| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">shortTermInvestments</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].shortTermInvestments| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">totalAssets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">totalCurrentAssets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalCurrentAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Total Current Liabilities</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalCurrentLiabilities| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Total Non Current Assets</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalNonCurrentAssets| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Total Non Current Liabilities</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalNonCurrentLiabilities| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Total Shareholder Equity</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].totalShareholderEquity| short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Treasury Stock</div>
                        <div class="value-small">{{ balanceSheet.annualReports[0].treasuryStock| short:'1.0-0' }}</div>
                    </div>
                </div>
            </div>
            <!-- Income Statement -->
            <div class="column" style="margin-top: 30px;">
                <div class="title-section">Income Statement</div>
                <div class="row container">
                    <div class="field">
                        <div class="title-small">Total Revenue</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].totalRevenue | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Cost Of Revenue</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].costOfRevenue | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Cost of Goods and Services Sold</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].costofGoodsAndServicesSold | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Depreciation</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].depreciation | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Depreciation and Amortization</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].depreciationAndAmortization | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">EBIT</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].ebit | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">EBITDA</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].ebitda | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Gross Profit</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].grossProfit | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Income Before Tax</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].incomeBeforeTax | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">IncomeTaxExpense</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].incomeTaxExpense | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">InterestAndDebtExpense</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].interestAndDebtExpense | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">InterestExpense</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].interestExpense | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">InterestIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].interestIncome | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">InvestmentIncomeNet</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].investmentIncomeNet | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">NetIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].netIncome | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">NetIncomeFromContinuingOperations</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].netIncomeFromContinuingOperations | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">NetInterestIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].netInterestIncome | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">NonInterestIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].nonInterestIncome | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">OperatingExpenses</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].operatingExpenses | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">OperatingIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].operatingIncome | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">OtherNonOperatingIncome</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].otherNonOperatingIncome | short:'1.0-0' }}</div>          
                    </div>
                    <div class="field">
                        <div class="title-small">ReportedCurrency</div> 
                        <div class="value-small">{{ incomeStatements.annualReports[0].reportedCurrency | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">ResearchAndDevelopment</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].researchAndDevelopment | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">sellingGeneralAndAdministrative</div>
                        <div class="value-small">{{ incomeStatements.annualReports[0].sellingGeneralAndAdministrative | short:'1.0-0' }}</div>
                    </div>
                    
                </div>
            </div>
                        
            <!-- Basic Information -->
            <div class="column" style="margin-top: 30px;">
                <div class="title-section">Basic Information</div>
                <div class="row container">
                    <div class="field">
                        <div class="title-small">Asset Type</div>
                        <div class="value-small">{{ stockData.AssetType }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Country</div>
                        <div class="value-small">{{ stockData.Country }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Exchange</div>
                        <div class="value-small">{{ stockData.Exchange }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Sector</div>
                        <div class="value-small">{{ stockData.Sector }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Industry</div>
                        <div class="value-small">{{ stockData.Industry }}</div>
                    </div>
                </div>

            </div>
            <!-- Financial Information -->
            <div class="column" style="margin-top: 30px;">
                <div class="title-section">Financial Information</div>
                <div class="row container">
                    <div class="field">
                        <div class="title-small">Market Cap</div>
                        <div class="value-small">{{ stockData.MarketCapitalization | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Price to Earnings Ratio (PE)</div>
                        <div class="value-small">{{ stockData.PERatio }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Price to Sales Ratio</div>
                        <div class="value-small">{{ stockData.PriceToSalesRatioTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Dividend Yield</div>
                        <div class="value-small">{{ stockData.DividendYield }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Address</div>
                        <div class="value-small">{{ stockData.Address }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Analyst Target Price</div>
                        <div class="value-small">{{ stockData.AnalystTargetPrice }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">AssetType</div>
                        <div class="value-small">{{ stockData.AssetType }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Beta</div>
                        <div class="value-small">{{ stockData.Beta }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Dividend BookValue</div>
                        <div class="value-small">{{ stockData.BookValue }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">CIK</div>
                        <div class="value-small">{{ stockData.CIK }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Dividend Currency</div>
                        <div class="value-small">{{ stockData.Currency }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Diluted EPS TTM</div>
                        <div class="value-small">{{ stockData.DilutedEPSTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Dividend Date</div>
                        <div class="value-small">{{ stockData.DividendDate }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Dividend Per Share</div>
                        <div class="value-small">{{ stockData.DividendPerShare }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">EBITDA</div>
                        <div class="value-small">{{ stockData.EBITDA | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">EV to EBITDA</div>
                        <div class="value-small">{{ stockData.EVToEBITDA }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">EV to Revenue</div>
                        <div class="value-small">{{ stockData.EVToRevenue }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Fiscal Year End</div>
                        <div class="value-small">{{ stockData.FiscalYearEnd }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Forward PE</div>
                        <div class="value-small">{{ stockData.ForwardPE }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Gross Profit TTM</div>
                        <div class="value-small">{{ stockData.GrossProfitTTM | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Latest Quarter</div>
                        <div class="value-small">{{ stockData.LatestQuarter }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Operating Margin TTM</div>
                        <div class="value-small">{{ stockData.OperatingMarginTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">PE Ratio</div>
                        <div class="value-small">{{ stockData.PERatio }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Price to Sales Ratio TTM</div>
                        <div class="value-small">{{ stockData.PriceToBookRatio }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Price to Sales Ratio TTM</div>
                        <div class="value-small">{{ stockData.PriceToSalesRatioTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Profit Margin</div>
                        <div class="value-small">{{ stockData.ProfitMargin }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Quarterly Earnings Growth YOY</div>
                        <div class="value-small">{{ stockData.QuarterlyEarningsGrowthYOY }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Quarterly Revenue Growth YOY</div>
                        <div class="value-small">{{ stockData.QuarterlyRevenueGrowthYOY }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Return On Assets TTM</div>
                        <div class="value-small">{{ stockData.ReturnOnAssetsTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Return On Equity TTM</div>
                        <div class="value-small">{{ stockData.ReturnOnEquityTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Revenue PerShare TTM</div>
                        <div class="value-small">{{ stockData.RevenuePerShareTTM }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Revenue TTM</div>
                        <div class="value-small">{{ stockData.RevenueTTM | short:'1.0-0' }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Shares Outstanding</div>
                        <div class="value-small">{{ stockData.SharesOutstanding }}</div>
                    </div>
                    <div class="field">
                        <div class="title-small">Trailing PE</div>
                        <div class="value-small">{{ stockData.TrailingPE }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
</div>
