.wrapper {
  height: calc(100vh - 64px);
  background-color: rgb(70,70,70);
}
.content {
  padding: 20px;
  background-color: rgb(70,70,70);
}

.mat-card {
  background-color: rgba(190,190,190,0.5);
  margin: 20px;
}