.donut-inner {
    margin-top: -210px;
    margin-bottom: 210px;
    margin-left: 140px;
    margin-right: -140px;
 }

 .title-small {
    // color: rgb(201, 201, 201);
    font-size: 25px;
    font-weight: bold;
}