/* Structure */
.wrapper {
  height: calc(100vh - 64px);
  background-color: rgb(190,190,190);
}
.content {
  padding: 20px;
  background-color: rgb(190,190,190);
}

table {
  width: 100%;
  background-color: rgb(190,190,190);
  box-shadow: none;
}

mat-paginator {
  background-color: rgb(190,190,190);
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}