.wrapper {
  padding: 40px;
}

.content {
  padding: 20px;
  background-color: rgb(190,190,190);
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}