<div>
    <div>
        {{ data | json }}
    </div>
    <!-- <h2>Finanzmarktinformationen für {{ symbol }}</h2>
  
    <div *ngIf="currentStockPrice !== undefined">
      <h3>Aktueller Kurs: {{ currentStockPrice | currency }}</h3>
    </div>
  
    <div *ngIf="historicalStockPrices !== undefined && historicalStockPrices.length > 0">
      <h3>Historische Kurse:</h3>
      <ul>
        <li *ngFor="let price of historicalStockPrices">{{ price.date | date }} - {{ price.close | currency }}</li>
      </ul>
    </div> -->
  </div>
  
