$background-component : rgb(155, 155, 155);
$background-sidebar : rgb(155, 155, 155);
$background-content : rgb(155, 155, 155);
$background- : rgb(155, 155, 155);
$background- : rgb(155, 155, 155);
$background- : rgb(155, 155, 155);